<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Sample WebApp</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">Home</a>
    <a class="p-2 text-dark" href="https://github.com/jonmorazav/gesample">Repo</a>
  </nav>
  <button type="buton" class="btn btn-outline-primary" onclick="logout()">Sign out</button>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Node + Mongo + Azure</h1>
  <p class="lead">We quickly spun up a RESTful Node server on Azure that demostrates basic REST principals, server authentication, session handling, and mongo CRUD operations.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Your info</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mb-2">
            <li><strong>Name: </strong><input type="text" id="name" onchange="updateInfo(this)">{{name}}</input></li>
            <li><strong>Email: </strong><input type="text" id="username" onchange="updateInfo(this)">{{email}}</input></li>
            <li><strong>Age: </strong><input type="text" id="age" onchange="updateInfo(this)">{{age}}</input></li>
            <li><strong>Language: </strong><input type="text" id="language" onchange="updateInfo(this)">{{language}}</input></li>
          </ul>
          <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Random Button</button> -->
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">User list</h4>
        </div>
        <div class="card-body">
          <table class="table table-hover" id="usersListTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <a class="btn btn-lg btn-block btn-primary text-white" href="/register">Add new user</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
      </div>
    </div>
  </footer>
</div>

<script src="assets/javascript/home.js"></script>
